/* Global Styling */
body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #000000, #434343);
    color: white;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}
label {
    font-size: 1.2em;
    color: #1DB954;
    margin-bottom: 10px;
    display: block;
}
h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #1DB954;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h2, #instructions {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #1DB954;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Paragraph Styling */
p {
    font-size: 1.2em;
    margin-bottom: 30px;
    line-height: 1.5;
}

.container {
    max-width: 600px;
    text-align: center;
    animation: slide-in 1s ease-out forwards;
}

/* Logo Styling */
.logo {
    width: 150px;
    margin-bottom: 20px;
}

/* Description Styling */
.description {
    margin-bottom: 30px;
    font-size: 1.2em;
    animation: fade-in 2s ease-in-out;
}

/* Input and Button Styling */
input[type="text"],
input[type="password"],
button,
[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background: rgba(255, 255, 255, 0.1);
    color: white;
    transition: background 0.4s, transform 0.4s;
}

/* Button Styling */
button,
[type="submit"] {
    background-color: #1DB954; /* Green */
    color: white;
    cursor: pointer;
}

button:hover,
[type="submit"]:hover {
    background-color: #1ed760; /* Darker Green */
    transform: scale(1.05);
}

/* Specific Button Styling */
.btn {
    display: inline-block;
    padding: 15px 30px;
    font-size: 18px;
    background-color: #1DB954;
    color: white;
    text-decoration: none;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px;
    transition: background-color 0.4s, transform 0.4s;
}

.btn:hover {
    background-color: #1ed760; /* Darker Green */
    transform: scale(1.05);
}

.back-btn {
    margin-left: 20px;
}

.header {
    margin-top: 50px;
    margin-bottom: 30px;
}

/* Track Column Styling */
.track-column {
    flex: 1;
    min-width: 200px; /* Adjust as necessary */
    padding: 10px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.1); /* Ensure column background matches overall style */
}

.track {
    margin-bottom: 10px;
}

.hidden {
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease, visibility 1s ease;
}

.fade-in {
    opacity: 1 !important;
    visibility: visible !important;
}

/* Track Container Styling */
#tracks_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: auto;
    max-height: 80vh; /* Adjust as needed */
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.1); /* Make border transparent */
    background-color: transparent; /* Make background transparent */
    color: #fff; /* Ensure text color is visible */
}

/* Playlist Row Styling */
.playlist-row {
    display: flex;
    justify-content: center; /* Center align the row */
    width: 100%;
    margin-bottom: 10px;
}

/* Playlist Container Styling */
.playlist-container {
    flex: 1;
    min-width: 300px; /* Set a minimum width to ensure uniformity */
    max-width: 400px; /* Set a maximum width to prevent overflow */
    border: 1px solid rgba(255, 255, 255, 0.1); /* Make border transparent */
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    background-color: rgba(255, 255, 255, 0.1); /* Make background semi-transparent */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 0.8rem;
}

.playlist-container h4 {
    margin: 0 0 5px;
    font-size: 1rem;
    color: white; /* Ensure text color is visible */
}

.playlist-container button {
    font-size: 0.8rem;
    padding: 5px 10px;
    margin: 5px 0;
    background-color: #1DB954; /* Green button */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.4s, transform 0.4s;
}

.playlist-container button:hover {
    background-color: #1ed760; /* Darker Green */
    transform: scale(1.05);
}

.track-dropdown {
    width: 100%;
    height: 100px;
    overflow-y: scroll;
    font-size: 0.8rem;
    background: rgba(255, 255, 255, 0.1); /* Ensure dropdown background matches overall style */
    color: white; /* Ensure text color is visible */
    border: 1px solid rgba(255, 255, 255, 0.1); /* Make border transparent */
    border-radius: 5px;
}

/* Columns Container Styling */
.columns-container {
    display: flex;
    flex-wrap: wrap; /* Ensure columns are wrapped */
    justify-content: center; /* Center the columns */
    width: 100%; /* Ensure the container takes full width */
    border: 1px solid rgba(255, 255, 255, 0.1); /* Make border transparent */

}
.track:hover {
    box-shadow: 0 0 10px rgba(30, 215, 96, 0.7);
    transform: scale(1.05);
}

/* Animations */
@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slide-in {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}
#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* Dim background */
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Modal styling */
#playlistModal {
    background: linear-gradient(to right, #000000, #434343);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#playlistLabel {
    margin-bottom: 10px;
    font-size: 1.2em;
}

#playlistName {
    margin-bottom: 20px;
    padding: 10px;
    width: 80%;
}

#confirmButton, #cancelButton {
    margin: 10px;
    padding: 10px 20px;
}

/* Fade-in effect */
.show {
    display: flex !important;
    animation: fade-in 0.5s forwards;
}

.hidden-splitter {
    display: none;
}

.features-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
/* Global Styling */
body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #000000, #434343);
    color: white;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}
label {
    font-size: 1.2em;
    color: #1DB954;
    margin-bottom: 10px;
    display: block;
}
h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #1DB954;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h2, #instructions {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #1DB954;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Paragraph Styling */
p {
    font-size: 1.2em;
    margin-bottom: 30px;
    line-height: 1.5;
}

.container {
    max-width: 600px;
    text-align: center;
    animation: slide-in 1s ease-out forwards;
}

/* Logo Styling */
.logo {
    width: 150px;
    margin-bottom: 20px;
}

/* Description Styling */
.description {
    margin-bottom: 30px;
    font-size: 1.2em;
    animation: fade-in 2s ease-in-out;
}

/* Input and Button Styling */
input[type="text"],
input[type="password"],
button,
[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background: rgba(255, 255, 255, 0.1);
    color: white;
    transition: background 0.4s, transform 0.4s;
}

/* Button Styling */
button,
[type="submit"] {
    background-color: #1DB954; /* Green */
    color: white;
    cursor: pointer;
}

button:hover,
[type="submit"]:hover {
    background-color: #1ed760; /* Darker Green */
    transform: scale(1.05);
}

/* Specific Button Styling */
.btn {
    display: inline-block;
    padding: 15px 30px;
    font-size: 18px;
    background-color: #1DB954;
    color: white;
    text-decoration: none;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px;
    transition: background-color 0.4s, transform 0.4s;
}

.btn:hover {
    background-color: #1ed760; /* Darker Green */
    transform: scale(1.05);
}

.back-btn {
    margin-left: 20px;
}

.header {
    margin-top: 50px;
    margin-bottom: 30px;
}

/* Track Column Styling */
.track-column {
    flex: 1;
    min-width: 200px; /* Adjust as necessary */
    padding: 10px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.1); /* Ensure column background matches overall style */
}

.track {
    margin-bottom: 10px;
}

.hidden {
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease, visibility 1s ease;
}

.fade-in {
    opacity: 1 !important;
    visibility: visible !important;
}

/* Track Container Styling */
#tracks_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: auto;
    max-height: 80vh; /* Adjust as needed */
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.1); /* Make border transparent */
    background-color: transparent; /* Make background transparent */
    color: #fff; /* Ensure text color is visible */
}

/* Playlist Row Styling */
.playlist-row {
    display: flex;
    justify-content: center; /* Center align the row */
    width: 100%;
    margin-bottom: 10px;
}

/* Playlist Container Styling */
.playlist-container {
    flex: 1;
    min-width: 300px; /* Set a minimum width to ensure uniformity */
    max-width: 400px; /* Set a maximum width to prevent overflow */
    border: 1px solid rgba(255, 255, 255, 0.1); /* Make border transparent */
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    background-color: rgba(255, 255, 255, 0.1); /* Make background semi-transparent */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 0.8rem;
}

.playlist-container h4 {
    margin: 0 0 5px;
    font-size: 1rem;
    color: white; /* Ensure text color is visible */
}

.playlist-container button {
    font-size: 0.8rem;
    padding: 5px 10px;
    margin: 5px 0;
    background-color: #1DB954; /* Green button */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.4s, transform 0.4s;
}

.playlist-container button:hover {
    background-color: #1ed760; /* Darker Green */
    transform: scale(1.05);
}

.track-dropdown {
    width: 100%;
    height: 100px;
    overflow-y: scroll;
    font-size: 0.8rem;
    background: rgba(255, 255, 255, 0.1); /* Ensure dropdown background matches overall style */
    color: white; /* Ensure text color is visible */
    border: 1px solid rgba(255, 255, 255, 0.1); /* Make border transparent */
    border-radius: 5px;
}

/* Columns Container Styling */
.columns-container {
    display: flex;
    flex-wrap: wrap; /* Ensure columns are wrapped */
    justify-content: center; /* Center the columns */
    width: 100%; /* Ensure the container takes full width */
    border: 1px solid rgba(255, 255, 255, 0.1); /* Make border transparent */

}
.track:hover {
    box-shadow: 0 0 10px rgba(30, 215, 96, 0.7);
    transform: scale(1.05);
}

/* Animations */
@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slide-in {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}
#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* Dim background */
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Modal styling */
#playlistModal {
    background: linear-gradient(to right, #000000, #434343);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#playlistLabel {
    margin-bottom: 10px;
    font-size: 1.2em;
}

#playlistName {
    margin-bottom: 20px;
    padding: 10px;
    width: 80%;
}

#confirmButton, #cancelButton {
    margin: 10px;
    padding: 10px 20px;
}

/* Fade-in effect */
.show {
    display: flex !important;
    animation: fade-in 0.5s forwards;
}

.hidden-splitter {
    display: none;
}

.features-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
#splitplaylist:disabled {
    background-color: grey;
    cursor: not-allowed;
    color: #ccc;
}
#miscFeatures,
#mainFeatures {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#miscFeatures,
#mainFeatures {
    display: flex;
    flex-direction: column;
    align-items: center;
}

