/* Global Styling */
body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #000000, #434343);
    color: white;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.container {
    max-width: 600px;
    text-align: center;
    animation: slide-in 1s ease-out forwards;
}

/* Logo Styling */
.logo {
    width: 150px;
    margin-bottom: 20px;
}

/* Description Styling */
.description {
    margin-bottom: 30px;
    font-size: 1.2em;
    animation: fade-in 2s ease-in-out;
}

/* Input and Button Styling */
input[type="text"],
input[type="password"],
button,
[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background: rgba(255, 255, 255, 0.1);
    color: white;
    transition: background 0.4s, transform 0.4s;
}

/* Button Styling */
button,
[type="submit"] {
    background-color: #1DB954; /* Green */
    color: white;
    cursor: pointer;
}

button:hover,
[type="submit"]:hover {
    background-color: #1ed760; /* Darker Green */
    transform: scale(1.05);
}

/* Specific Button Styling */
.btn {
    display: inline-block;
    padding: 15px 30px;
    font-size: 18px;
    background-color: #1DB954;
    color: white;
    text-decoration: none;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px;
    transition: background-color 0.4s, transform 0.4s;
}

.btn:hover {
    background-color: #1ed760; /* Darker Green */
    transform: scale(1.05);
}

.back-btn {
    margin-left: 20px;
}

.header {
    margin-top: 50px;
    margin-bottom: 30px;
}

.columns-container {
    display: flex;
    flex-wrap: wrap;
}

.track-column {
    flex: 1;
    min-width: 200px; /* Adjust as necessary */
    padding: 10px;
    box-sizing: border-box;
}

.track {
    margin-bottom: 10px;
}

.hidden {
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease, visibility 1s ease;
}

.fade-in {
    opacity: 1 !important;
    visibility: visible !important;
}

/* Animations */
@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slide-in {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}
