<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"></head>
<body>
    <div class="container">
        <h1 id="displayName" class="hidden">Welcome {{display_name}}!</h1>
        <p id="instructions" class="hidden">Enter an Artist Name to get their most popular albums</p>
        <a href="http://127.0.0.1:5002/user" id="artistButton" class="btn hidden">Find Artists Top Albums</a>
        <a href="http://127.0.0.1:5002/splitter" id="splitterButton" class="btn hidden">Spotify Splitter</a>
        <button id="shutdownButton" class="btn hidden">Shutdown Server</button>
    </div>
    <script>
        window.addEventListener('DOMContentLoaded', (event) => {
            document.querySelectorAll('.hidden').forEach(element => {
                element.classList.add('fade-in');
            });
        });
    </script>
</body>
</html>
