<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1 id="displayName" class="hidden">Welcome {{display_name}}!</h1>
        <p id="instructions" class="hidden">Choose From One of the Following Features</p>

        <div class="features-container">
            <div id="miscFeatures"> 
                <label for="artistButton" id="artistLabel">Misc. Features:</label>
                <a href="{% if environment == 'production' %}https://spotify-splitter.elasticbeanstalk.com/user{% else %}http://127.0.0.1:5002/user{% endif %}" id="artistButton" class="btn hidden">Find Artists Top Albums</a>
            </div>

            <div id="mainFeatures">
                <label for="splitterButton" id="mainFeaturesLabel">Main Features:</label>
                <a href="{% if environment == 'production' %}https://spotify-splitter.elasticbeanstalk.com/splitter{% else %}http://127.0.0.1:5002/splitter{% endif %}" id="splitterButton" class="btn main-feature hidden">Spotify Splitter</a>
            </div>
        </div>
    </div>
    <script>
        window.addEventListener('DOMContentLoaded', (event) => {
            document.querySelectorAll('.hidden').forEach(element => {
                element.classList.add('fade-in');
            });
        });
    </script>
</body>
</html>
