<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Splitter</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="header">
        <h1>Spotify Album Splitter</h1>
        <a href="http://127.0.0.1:5002/homepage" id = "homeButtonSplitter" class="btn back-btn">Back to Home</a>
    </div>
    <div>
        <button class = "btn" id = "updateTracksButton" onclick = "updateTracks()"> Update Your Tracks in The Database.</button>
        <button class="btn" id="fetchTracksButton" onclick="submitAlbum()">Display Tracks</button>
        <button class="btn" id="fadeButton" onclick="getSplitPlaylists()">Split Tracks into Playlists</button>
        <select id="num_albums"></select>
    </div>
    <div id="tracks_container">
        <!-- Tracks will be displayed here -->
    </div>

    <script src="{{ url_for('static', filename='javascript/splitter.js') }}"></script>
</body>
</html>
