<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Album Splitter</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/splitter.js') }}"></script>
</head>
<body>
    <div class="header">
        <h1>Spotify Album Splitter</h1>
        <a href="http://127.0.0.1:5002/homepage" class="btn back-btn">Back to Home</a>
    </div>
    <div>
        <button class="btn" onclick="submitAlbum()">Get Tracks</button>
    </div>
    <div id="tracks-container">
        <!-- Tracks will be displayed here -->
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='javascript/splitter.js') }}"></script>
</body>
</html>
