<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Splitter</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="header">
        <h1>Spotify Album Splitter</h1>
        <a href="{% if environment == 'production' %}https://spotify-helper.onrender.com/homepage{% else %}http://127.0.0.1:5002/homepage{% endif %}" id="artistButton" class="btn">Go Back to Home</a>
    </div>
    <div>
        <p>Instructions:</p>
        <ol>
            <li>Click "Update Your Tracks in The Database" to refresh your saved tracks from Spotify. Note: This can take time if you have many tracks saved</li>
            <li>Click "Display Tracks" to view your saved tracks.</li>
            <li>Click "Split Tracks into Playlists" to divide your saved tracks into multiple playlists based on clustering.</li>
        </ol>
    </div>
    <div>
        <button class="btn" id="updateTracksButton" onclick="updateTracks()">Update Your Tracks in The Database</button>
        <button class="btn" id="fetchTracksButton" onclick="submitAlbum()">Display Tracks</button>
        <button class="btn" id="fadeButton" onclick="getSplitPlaylists()">Split Tracks into Playlists</button>
    </div>
    <div id="tracks_container">
        <!-- Tracks will be displayed here -->
    </div>
    <div id="overlay" class="hidden-splitter">
        <div id="playlistModal">
            <label for="playlistName" id="playlistLabel">Enter a name for your playlist:</label>
            <input type="text" id="playlistName">
            <button class="btn" id="confirmButton">Confirm</button>
            <button class="btn" id="cancelButton">Cancel</button>
        </div>
    </div>

    <script src="{{ url_for('static', filename='javascript/splitter.js') }}"></script>
</body>
</html>
