<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1 id="displayName" class="hidden">Welcome {{ display_name }}!</h1>
        <p id="instructions" class="hidden">Enter an Artist Name to get their most popular albums</p>
        <a href="{% if environment == 'production' %}https://spotify-helper.onrender.com/homepage{% else %}http://127.0.0.1:5002/homepage{% endif %}" id="artistButton" class="btn">Go Back to Home</a>
        <form id="searchArtist">
            <label for="artist_name" id="artistLabel" class="hidden">Artist Name:</label>
            <input type="text" id="artist_name" class="hidden" maxlength="50" name="artist_name" required>
            <label for="album_count" id="albumCountLabel" class="hidden"> Number of Albums:</label>
            <select id="num_albums" class="hidden"></select>          
            <input type="submit" id="submitButton" class="hidden" value="Search">
        </form>

        <div id="searchResults" class = "hidden"></div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='javascript/searchArtist.js') }}"></script>
</body>
</html>
