<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Welcome {{ display_name }}!</h1>
    <p>Enter an Artist Name to get their most popular albums</p>

    <form id="searchArtist">
        <label for="artist_name">Artist Name:</label>
        <input type="text" id="artist_name" name="artist_name" required>
        <label for="album_count">Number of Albums:</label>
        <select id="num_albums">
    <!-- Options will be populated by JavaScript -->
        </select>          
        <input type="submit" value="Search">
    </form>

    <div id="searchResults"></div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='javascript/searchArtist.js') }}"></script>
</body>
</html>
